* {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Dosis';
    font-weight: 300;
}

body, html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
